{% extends 'base.html' %}
{% block content %}
<h2>{{ product.name }}</h2>
<img src="{{ product.image_url() }}" style="max-width:360px; border-radius:8px;">
<p class="small">{{ product.description }}</p>
<p class="price">₱{{ '%.2f'|format(product.price) }}</p>
<p>In stock: {{ product.quantity }}</p>

{% if current_user.is_authenticated and not current_user.is_admin() %}
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.quantity.label }} {{ form.quantity(min=1, max=product.quantity) }}
    {{ form.submit(class_='btn') }}
  </form>
{% else %}
  <p class="small">Login as buyer to purchase.</p>
{% endif %}
{% endblock %}
