{% extends 'base.html' %}
{% block content %}
<h2>My Profile</h2>

<form method="POST" enctype="multipart/form-data" class="form-box">
  {{ form.hidden_tag() }}

  <div class="form-row">{{ form.display_name.label }} {{ form.display_name() }}</div>
  <div class="form-row">{{ form.location.label }} {{ form.location() }}</div>
  <div class="form-row">{{ form.profile_image.label }} {{ form.profile_image() }}</div>
  <div class="form-row">{{ form.background_image.label }} {{ form.background_image() }}</div>

  {{ form.submit(class_='btn') }}
</form>
{% endblock %}
